<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h3>New Chat</h3>
    <form method="POST" action="/chats">
        <label>From: </label>
    <input type="text" placeholder="Who you are!" name="from"/>
    <br/><br/>
    <textarea placeholder="enter message" name="msg" cols="30" rows="8"></textarea>
    <br/><br/>
    <label>To: </label>
    <input type="text" placeholder="msg belonging to" name="to" />
    <br/><br/>
    <button>Send</button>
    </form>
</body>
</html>